.MainConForFaqH{
    /* width: 100%; */
    margin-top: 10px;
    /* height: 2300px; */
   background-color: #F8F9FA;
   /* background-color: rebeccapurple; */
}
.contFor2box{
  display: flex;
  justify-content: space-between;
}
.btnAddFaqHa{
  /* order: 2; */
  width: 150px;
  height: 36px;
  margin-bottom: 20px;
}
.Faqbg{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #E6B8BF;
  /* border: 1px solid #FFFFFF; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.FaqQicon{
  font-size: 18px;
   color: #FFFFFF;
   
}
.headingOfFaq{
  font-family: Archivo;
font-weight: 600;
font-style: SemiBold;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
color: #5C5959;
}
.pForPara{
  font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
color: #888888;
}
.groupingFormmian{
    border: 1px solid #DDDDDD;
    height: 37px;
    border-radius: 8px;
}
.btnForEditBtnH{
  background: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 0px 1px 0px #171A1F12, 0px 0px 2px 0px #171A1F1F;
  color: #5C5959;

}
.btnForEditBtnH:hover{
  background: #FFFFFF;
  color: #5C5959;
   border: 1px solid #E0E0E0;
}
.iconsInputofForm{
    background-color: transparent;
    border: none;
    font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
color: #333333;
}
.iconsInputofForm:focus{
    box-shadow: none;
}
.bgforBtn1{
  background-color: #E7C58A;
  border: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Inter';
font-weight: 400;
/* padding: 0px 10px; */
font-style: Regular;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
display: flex;
 justify-content: center;
    align-items: center;
    gap: 5px;

}
.bgforBtn1:hover , .bgforBtn1:active{
  background-color: #E6B8BF !important;
  color: #FFFFFF !important;
}
/* .bgforBtn1:disabled{
  background-color: #FBEAEA45 !important;
  color: #FFFFFF !important;
} */
.bgforBtn{
    height: 40px;
   
    background-color: #E7C58A;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: Inter;
font-weight: 400;
/* padding: 0px 10px; */
font-style: Regular;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
display: flex;
 justify-content: center;
    align-items: center;
    gap: 5px;

}
.bgforBtn:hover{
background-color: #E7C58A;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
}
/* .bgforBtn:disabled{
  background: #FBEAEA !important;
  color: #E7C58A;
   cursor: not-allowed;
} */
.forIconWritetic{
    /* width: 18px; */
    /* height: 18px; */
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    /* border: 1px solid #FFFFFF; */
    border-radius: 50%;
}
/* .forIconWritetic:hover , .forIconWritetic:active{
  background: #E7C58A !important;
  color: #FFFFFF !important;
} */
.cardBox{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 1px 0px #171A1F12, 0px 0px 2px 0px #171A1F1F;
    position: relative;
    padding: 20px 0px;

}
.closeTheAddFaqN{
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
}
.profileContainer {
  padding: 40px;
  background-color: #fafafa;
}
.headingOfQuestion h6{
  font-family: Archivo;
font-weight: 600;
font-style: SemiBold;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
color: #5C5959;

}
.inputLabel {
  font-size: 14px;
  font-weight: 600;
  color: #111;
  margin-bottom: 8px;
}

.readOnlyInput {
  background-color: #f8f8f8;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid #ddd;
}

.iconBox {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
}
.Numberhai{
  font-family: Archivo;
font-weight: 600;
font-style: SemiBold;
font-size: 18px;
line-height: 28px;
color: #5C5959;

}

.sectionLabel {
  font-size: 18px;
  font-weight: 600;
  color: #4c4c4c;
}

.subText {
  font-size: 14px;
  color: #999;
  margin-bottom: 16px;
}

.editorWrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  padding: 12px;
}

.editorHeader {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  color: #e6b8bf;
}

.toolbarIcon {
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.textAreaEditor {
  border: none;
  resize: none;
  font-size: 14px;
  min-height: 150px;
}

.saveBtn {
  background-color: #f2c984;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 8px;
  color: #fff;
}
.Edit2H{
  width: 81px;
  height: 32px;
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 0px 1px 0px #171A1F12, 0px 0px 2px 0px #171A1F1F;

}

/* here start the Deal Tab  */
.DealHHeading{
  font-family: Archivo;
font-weight: 500;
font-style: Medium;
font-size: 24px;
line-height: 36px;
letter-spacing: 0%;
color: #333333;
}
.forBGHaipercentH{
  width: 57px;
  height: 50px;
  border-radius: 25px;
  background-color: #FFE5E5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soanSpecialOffer{
  color: #808080;
  line-height: 24px;
}


.FirstCardForDeal{
  height: 451px;
  background-color: #FFFFFF;
  border: 1px  #BCC1CA
}
/* .ChrisMain{

} */
.chrismasOffer{
  font-family: Archivo;
font-weight: 500;
font-style: Medium;
font-size: 32px;
line-height: 36px;
color: #333333;
}
.selected5{
  font-family: Archivo;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #333333;
}
.selectedOfferprduct{
  font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
color: #E8618C;

}
.secoundCardIS{
  height: 819px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 8px 17px 0px #171A1F26 , 0px 0px 2px 0px #171A1F1F;
  position: relative;

}
.forcloseCarIconMain{
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 30000;
  cursor: pointer;
  }
  .crossBtnForCloseIc{
    font-size: 18px;
    color: #171A1F;
  }

.secoundCardinsideCard{
    /* padding-left: 0px !important; */
    /* height: 275px; */
    min-height: 275px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 1px 0px #171A1F12, 0px 0px 2px 0px #171A1F1F;

}

.spanForNotOffering{
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    right: 150px;
    bottom: 10px;
}
/* .CrosForCut{
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
} */
.dotH{
  width: 16px;
  height: 16px;
  border: 1px solid #808080;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 900;
   color: #808080;
}
.discountnotofferSpan{
  color: #808080;
  font-size: 14px;
  line-height: 21px;
}
.headingOfSpecialDc{
  font-family: Archivo;
font-weight: 500;
font-style: Medium;
font-size: 18px;
line-height: 27px;
color: #333333;
}
.offerPh{
  color: #808080;
  font-size: 16px;
  line-height: 24px;
}
.boxborder{
  width: 60px;
  height: 60px;
  border-radius: 30px;
border: 1px solid #D9D9D9;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
  transition: all 0.3s ease;

}
.boxborder:hover {
  border-color: #999;
}
.activeBox {
  border-color: #ff69b4; /* pink border */
  border-bottom: 3px solid #ff69b4; /* pink underline */
  font-weight: 600;
  color: #ff69b4;
}
.BtnForSaveDeal{
  background: #E6B8BF;
  border: 1px solid #FFFFFF;
  font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
  padding: 5px 15px;
}
.BtnForSaveDeal:hover , .BtnForSaveDeal:active{
background: #E7C58A !important;
  border: 1px solid #FFFFFF !important;
  color: #FFFFFF !important;
  
}

/* Photo Tabs here  */

.CardPhotoFirst{
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  height: 152px;
  box-shadow: 0px 4px 9px 0px #171A1F1C, 0px 0px 2px 0px #171A1F1F;

}
.mainDivForPhotoFirstH{
  display: flex;
  gap: 10px;
  align-items: center;
}
.previewImg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

/* .PhotmainIconDiv{
  width: 80px;
} */
.ContentBoxForPhot{
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photoForIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  width: 66px;
  height: 49px;
  border-radius: 28px;
  background-color: #E6B8BF;
}
.headOfAddPhoto{
  font-family: Archivo;
font-weight: 600;
font-style: SemiBold;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
color: #333333;
}
.secoundCardForPhoto{
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  height: 356px;
  box-shadow: 0px 2px 5px 0px #171A1F17, 0px 0px 2px 0px #171A1F1F;

}
.ThirdCardForPhoto{
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  /* height: 356px; */
  box-shadow: 0px 2px 5px 0px #171A1F17, 0px 0px 2px 0px #171A1F1F;

}

.Addphotoboxh{
  width: 200px;
  height: 200px;
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.IconForUploadIcon{
  position: relative;
    top: 28px;
    right: 20px;
}
.UploadImg{
  font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 24px;
color: #333333;
}

.FilesMust{
  font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 20px;
color: #888888;
}
.DeleteImageBtn{
   position: absolute;
  top: 5px;
  right: 20px;   /* add this for right corner */
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #EA3374;     /* cross button visible */
  cursor: pointer;
}
.DeleteImageBtn:hover{
  color: #E7C58A;
  opacity: 0.8;
  background-color: transparent;
  border: none;
}

/* Here we Are starting the social netwroking  */
.mainOfSic{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pForplush{
  font-size: 24px;
  font-weight: bold;
  color: #171A1F;
  /* margin-top: 30px; */
  position: relative;
  top: 20px;
}
.socialNetweorkHead{
  font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 26px;
line-height: 48px;
color: #666666;
}